<h1>{{formTitle}}</h1>

<label for="email">Email Id</label>
<input id="email" type="email" [(ngModel)]="emailValue" name="emailValue"/>

<br />
<br />

<label for="pass" >Password</label>
<input id="pass" type="password" [(ngModel)]="password" name="password"/>

<br />
<br />

<input type="checkbox" (click)="onRememberMe($event)" >Remember Me

<br />
<br />

<button (click)="onLogin()">Login</button>

<hr>
<label>Child Data</label>
<input [(ngModel)]="childData" type="text" name="childData" id="">


<hr />

<app-login-child [parentFormTitle]="formTitle" [parentUsername]="emailValue" [parentPassword]="password" (childDataObject)="onRecieveData($event)"></app-login-child>
