<h2>Permanent Address</h2>

<input id="sameAsPermanent" (click)="onSameAsPermanent($event)" type="checkbox">Same As Permanent Address

<form action="">
	<label>Flat No</label>
	<input type="text" [(ngModel)]="permanentAddress.flatNo" name="permanentAddress.flatNo">

	<br><br>

	<label>Building</label>
	<input type="text" [(ngModel)]="permanentAddress.building" name="permanentAddress.building">

	<br><br>

	<label>Landmark</label>
	<input type="text" [(ngModel)]="permanentAddress.landmark" name="permanentAddress.landmark">

	<br><br>

	<label>City</label>
	<input type="text" [(ngModel)]="permanentAddress.city" name="permanentAddress.city">

	<br><br>

	<label>Pincode</label>
	<input type="number" [(ngModel)]="permanentAddress.pincode" name="permanentAddress.pincode">

	<br><br>

	<label>State</label>
	<input type="text" [(ngModel)]="permanentAddress.state" name="permanentAddress.state">
</form>


