
<form action="">
    <div class="w-100 d-flex flex-wrap">
        <div
        class="px-5 mt-4"
        [ngClass]="{
            'text-input' : field.type == 'text',
            'number-input': field.type == 'number',
            'checkbox-input': field.type == 'checkbox',
            'textarea': field.type == 'textarea'
        }"
        *ngFor="let field of formFields">
            <div *ngIf="field.type == 'text'" class="w-100 d-block">
                <app-input-text class="w-100 d-block" [labelName]="field.label"></app-input-text>
            </div>
            <div *ngIf="field.type == 'number'" class="">
                <app-input-number class="w-100 d-block" [labelName]="field.label"></app-input-number>
            </div>
            <div *ngIf="field.type == 'checkbox'" class="">
                <app-input-checkbox class="w-100 d-block" [labelName]="field.label"></app-input-checkbox>
            </div>
            <div *ngIf="field.type == 'textarea'" class="">
                <app-textarea class="w-100 d-block" [labelName]="field.label"></app-textarea>
            </div>
        </div>
    </div>
</form>
















<!-- <h1>{{formTitle}}</h1>

<form id="myForm">
  <label for="firstName"> {{firstNameLabel}} </label>
  <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName">

  <br /><br />

  <label for="middleName"> {{middleNameLabel}} </label>
  <input type="text" id="middleName" [(ngModel)]="middleName" name="middleName">

  <br /><br />

  <label for="lastName"> {{lastNameLabel}} </label>
  <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName">

  <br /><br />

  <label for="companyName"> {{companyNameLabel}} </label>
  <input type="text" id="companyName" [(ngModel)]="companyName" name="companyName">

  <br /><br />

  <label for="contactNum"> {{contactNumLabel}} </label>
  <input type="tel" id="contactNum" [(ngModel)]="contactNum" name="contactNum">

  <br /><br />

  <label for="dob"> {{dobLabel}} </label>
  <input type="date" id="dob" [(ngModel)]="dob" name="dob">

  <br /><br />

  <label for="age"> {{ageLabel}} </label>
  <input type="number" id="age" [(ngModel)]="age" name="age">

  <br /><br />

  <label for="designation"> {{designationLabel}} </label>
  <input type="text" id="designation" [(ngModel)]="designation" name="designation">

  <br /><br />

  <label for="gender"> {{genderLabel}} </label>
  <input type="text" id="gender" [(ngModel)]="gender" name="gender">

  <br /><br />

  <label> {{addressLabel}} </label>

  <br /><br />

  <table>
    <tbody>
      <tr>
        <td>
          <label for="flatNum"> {{flatNumLabel}} </label>
        </td>
        <td>
          <input id="flatNum" type="text" [(ngModel)]="flatNo" name="flatNo">
        </td>
      </tr>
      <tr>
        <td>
          <label for="buildingName"> {{buildingLabel}} </label>
        </td>
        <td>
          <input id="buildingName" type="text" [(ngModel)]="buildingName" name="buildingName">
        </td>
      </tr>
      <tr>
        <td>
          <label for="area"> {{areaLabel}} </label>
        </td>
        <td>
          <input id="area" type="text" [(ngModel)]="areaName" name="areaName">
        </td>
      </tr>
      <tr>
        <td>
          <label for="landmark"> {{landmarkLabel}} </label>
        </td>
        <td>
          <input id="landmark" type="text" [(ngModel)]="landmark" name="landmark">
        </td>
      </tr>
      <tr>
        <td>
          <label for="city"> {{cityLabel}} </label>
        </td>
        <td>
          <input id="city" type="text" [(ngModel)]="city" name="city">
        </td>
      </tr>
      <tr>
        <td>
          <label for="pincode"> {{pincodeLabel}} </label>
        </td>
        <td>
          <input id="pincode" type="text" [(ngModel)]="pincode" name="pincode">
        </td>
      </tr>
      <tr>
        <td>
          <label for="state"> {{stateLabel}} </label>
        </td>
        <td>
          <input id="state" type="text" [(ngModel)]="stateName" name="stateName">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="buttons-container">
    <button class="save-btn" (click)="onSave()">{{saveButtonName}}</button>
    <button class="submit-btn" (click) = "onSubmit()"> {{submitButtonName}} </button>
    <button class="cancel-btn" (click)="onCancel()"> {{cancelButtonName}} </button>
  </div>
</form> -->


