<!-- <h1>Home Registration Form</h1>

<div>
	<form>
		<label for="firstName">First Name</label>
		<input [(ngModel)]="firstName" name="firstName">

		<br /><br />

		<label for="lastName">Last Name</label>
		<input [(ngModel)]="lastName" name="lastName">

		<br /><br />

		<label for="email">Email</label>
		<input [(ngModel)]="email" name="email">

		<br />
		<br />

		<label for="phone">Phone</label>
		<input [(ngModel)]="phone" name="phone">

		<br /><br />

		<label for="password">Password</label>
		<input [(ngModel)]="password" name="password">

		<br /><br />

		<label for="confirmPassword">Confirm Password</label>
		<input [(ngModel)]="confirmPassword" name="confirmPassword">

		<br />
		<br />

		<button (click)="onRegister()">Register</button>
	</form>
</div> -->


<!-- <div class="address-container">
	<h2>Current Address</h2>
	<form action="">
		<label>Flat No</label>
		<input type="text" [(ngModel)]="currentFlatNo" name="currentFlatNo">

		<br><br>

		<label>Building</label>
		<input type="text" [(ngModel)]="currentBuilding" name="currentBuilding">

		<br><br>

		<label>Landmark</label>
		<input type="text" [(ngModel)]="currentLandmark" name="currentLandmark">

		<br><br>

		<label>City</label>
		<input type="text" [(ngModel)]="currentCity" name="currentCity">

		<br><br>

		<label>Pincode</label>
		<input type="number" [(ngModel)]="currentPincode" name="currentPincode">

		<br><br>

		<label>State</label>
		<input type="text" [(ngModel)]="currentState" name="currentState">
	</form>

	<input type="checkbox" (click)="onSameAsCurrent($event)">Same as Current Address

	<app-home-child [permanentAddress]="currentAddressSender" (permanentAddressData) = "onSameAsPermanent($event)">
	</app-home-child>
</div> -->


<h1>Home Page</h1>

<input type="text" [(ngModel)]="firstName" placeholder="First Name">
<input type="text" [(ngModel)]="lastName" placeholder="Last Name">
<input type="text" [(ngModel)]="email" placeholder="Email">
<input type="text" [(ngModel)]="address" placeholder="Address">


<button (click) ='navigateToContact()'>Contact Us</button>
